.container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

.cols {
    -moz-column-count:3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
} 

.box.one {
    height: 190px;
    background-color: #d77575;
    margin-bottom: 10px;
}

.box.two {
    height: 290px;
    background-color: #dcbc4c;
    margin-bottom: 10px;
}

.box.three {
    background-color: #a3ca3b;
    height: 390px;
    margin-bottom: 10px;
}